/* ##### Common Styles ##### */

body {
	color: black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 73%;  /* Enables font size scaling in MSIE */
	margin: 0;
	padding: 0;
}

html > body {
	font-size: 9pt;
}



.doNotDisplay {
	display: none !important;
}



/* ##### Header ##### */

.superHeader {
	color: rgb(130, 128, 154);
	background-color: rgb(66, 50, 33);
	text-align: right;
	margin: 0;
	padding: 0.5ex 10px;
}

.superHeader span {
	color: #900;
	background-color: transparent;
	font-weight: bold;
}

#header {
	color: inherit;
	background-color: rgb(184,38,25);
}

.headerTitle {
	margin: 0;
	padding: 0.25em 4mm 0.25em 4mm;
}

.headerTitle a {
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-size: 110%;  /* For MSIE */
	font-weight: bold;
	font-style: italic;
}

.headerTitle > a {
	font-size: 138%;  /* For fully standards-compliant user agents */
}

.headerTitle span {
	color: white;
	background-color: transparent;
	font-weight: normal;
}

.subHeader {
	color: white;
	background-color: #600;
	font-size: 109%;
	text-align: center;
	margin: 0;
	padding: 0.5ex 0;
}

.subHeader a {
	color: white;
	background-color: #900;
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	padding: 0 1ex;
}

.subHeader a:hover {
	color: black;
	background-color: white;
}

/* ##### Main Copy ##### */

#main-copy {
	color: black;
	background-color: white;
	text-align: justify;
	line-height: 1.5em;
	
	
	border-left: 1px solid rgb(216,210,195);
	
}

#main-copy h1 {
	color: #900;
	background-color: transparent;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 175%;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	margin: 1em 0 0 0;
	padding: 1em 0 0 0;
	border-top: 1px solid rgb(216,210,195);
}

#main-copy a {
	color: #600;
	background-color: transparent;
	text-decoration: underline;
}

#main-copy a:hover {
	text-decoration: none;
}

p {
	margin: 1em 0 1.5em 0;
	padding: 0;
}

/* ##### Header ##### */

.midHeader {
	color: gray;
	background-color: #900;
	margin: 0;
	padding: 0.26ex 10px;
}

.headerTitle {
	font-size: 300%;
	margin: 0;
	padding: 0;
}

.headerSubTitle {
	font-size: 151%;
	font-weight: normal;
	font-style: italic;
	margin: 0 0 1ex 0;
	padding: 0;
}


fieldset {
	margin: 1em 0;
	padding: 1.2em;
	padding-top: 0.4em;
	background: #FFFFFF;
	border: 1px solid #e7e8ac;
}

form label {
	color: #444;
	font-size: 1.2em;
	font-weight: bold;
}

.flash_notice {
	color: #000;  
	background: #DDE9FB;
	border: solid 0px;  
}

.flash_notice .message {
	padding: 10px;
}

.flash_warning {
	color: #FF2400;  
	background: #DDE9FB;
	border: solid 0px;  
}

.flash_warning .message {
	padding: 10px;
}

.flash_error {
	color: #FF2400;  
	background: #DDE9FB;
	border: solid 0px;  
}

.flash_error .message {
	padding: 10px;
}


dt {
	font-weight: bold;
	margin: 0;
	padding: 0 0 0.5ex 0;
}

dd {
	margin: 0 0 1.5em 1.5em;
	padding: 0;
}

.themetext {
font-family: verdana,arial,helvetica,sans-serif;
font-size:11px;
font-weight:bold;
color: #6699CC;
}
.instructions{
font-family: verdana, arial, helvetica, sans-serif;
font-size:   13px;
line-height: 18px;
}
.lite {
background-color:#F4F4F4;
color:#666666;
font-size:11px;
}
#pagecontainer{
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 20%;
}
#loginshell {
border: 1px solid #2D61A6;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:12px;
font-style:normal;
font-variant:normal;
font-weight:normal;
text-decoration:none;
color:#333333;
}

.loginheading {
	font-family:Georgia, "Times New Roman", Times, serif, Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	text-decoration:none;
	color:#0D71DF;
}

.cont {

padding-left:15px;
padding-right:0px;
padding-top: 10px;
padding-bottom: 0px;
min-height: 250px;	
/*background-image:url(/images/inner_image_caption.gif);
background-position: right bottom;
background-repeat:no-repeat;*/
}
