<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="JTO - BSNL Sample Tests provides a unique opportunity for applicants of JTO - BSNL Posts to analyse their skills by using JTO Mock Test Series.">
<meta name="keywords" content="bsnl, bsnl jto, bsnl jto 2009, jto 2009, jto, bsnl jto mock tests, bsnl jto sample test, bsnl jto exam, bsnl jto test, bsnl jto entrance exam model paper, bsnl jto model papers">
<title>Lean Six Sigma Society of Australasia</title>
<link rel="shortcut icon" href="/favicon.ico">
<%= stylesheet_link_tag 'styles'%>
 
</head>


<body>
<table width="737" border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="1" cellpadding="1">
      <tr>
      	
        <td width="207" rowspan="2" bgcolor="#C7DBF8" ><a href="/home"><img src="/images/logo.png" alt="LSSSA" width="207" height="75" border="0" /></a></td>
    
	
     
    </table></td>
  </tr>
  <%= yield %>
  
  <tr>
    <td background="/images/foot_bg.png" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><table width="99%" border="0" align="center" cellpadding="3" cellspacing="0">
      <tr>
        <td height="30">Copyright © 2011. All rights reserved.</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

</body>
</html>
